[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
pymongo = "*"
mongoengine = "*"
django-cors-headers = "*"
django-allauth = "*"
djongo = "*"
gunicorn = "*"

[requires]
python_version = "3.6"