[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
pymongo = "*"
mongoengine = "*"
corsheaders = "*"
allauth = "*"

[requires]
python_version = "3.6"